name: Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
env:
  NODE_JS_VER: 18.x
  SWANKY_NODE_VER: v1.2.0
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v3

      - name: Install & display rust toolchain
        run: |
          rustup show
          rustup component add rust-src
          rustup toolchain install nightly
          rustup component add clippy --toolchain nightly-x86_64-unknown-linux-gnu
          rustup show

      - name: Check targets are installed correctly
        run: rustup target list --installed

      - name: Cache Crates
        uses: actions/cache@v3
        with:
          path: ~/.cargo
          key: ${{ runner.os }}-rust-${{ hashFiles('rust-toolchain.toml') }}
          restore-keys: |
            ${{ runner.os }}-rust

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_JS_VER }}

      - name: Check if cargo-contract exists
        id: check-cargo-contract
        continue-on-error: true
        run: cargo contract --version

      - name: Install cargo contract
        if: ${{ steps.check-cargo-contract.outcome == 'failure' }}
        run: |
          cargo install cargo-dylint dylint-link
          cargo install --force --locked cargo-contract

      - name: Unit test
        run: cargo test

      - name: Cargo check
        run: cargo +nightly check

      - name: Check Clippy
        run: cargo +nightly clippy

      - name: Compile contracts
        run: |
          yarn
          yarn compile

      - name: integration test
        run: |
          sudo wget https://github.com/AstarNetwork/swanky-node/releases/download/${{ env.SWANKY_NODE_VER }}/swanky-node-${{ env.SWANKY_NODE_VER }}-ubuntu-x86_64.tar.gz
          sudo tar -zxvf swanky-node-v${env:SWANKY_NODE_VER}-ubuntu-x86_64.tar.gz
          sudo chmod +x swanky-node
          ./swanky-node -lerror,runtime::contracts=debug &
          sleep 10
          yarn test
